.header_box {
  background-color: #fdd90b;
  margin-bottom: 10px;
}

.logo_size {
  margin-left: 50px;
  width: 150px;
  height: 150px;
}

.box_titre {
  margin-left: 30px;
  padding-top: 40px;
}
.text_titre {
  color: #da001e;
}
.box_nav {
  position: relative;
}
.navxy {
  position: absolute;
  bottom: 0;
  right: 0;
}
li > a {
  color: #da001e;
  font-weight: bold;
}
