<div class="header_box container">
  <div class="row">
    <div class="col-2">
      <img
        class="logo_size"
        src="Logo_au petit village1.jpg"
        alt="loogo Au petit Village"
        routerLink="/home"
      />
    </div>
    <div class="col-4">
      <div class="box_titre comfortaa-400">
        <h1 class="text_titre">AU&nbsp;PETIT&nbsp;VILLAGE</h1>
      </div>
    </div>
    <div class="box_nav col-6">
      <ul class="navxy .comfortaa-comfortaa400">
        <li class="d-inline m-4">
          <a [routerLink]="['/home']"> ACCUEIL </a>
        </li>
        <li class="d-inline m-4">
          <a [routerLink]="['/about']">A&nbsp;PROPOS</a>
        </li>
        <li class="d-inline m-4">
          <a [routerLink]="['/contact']"> NOUS&nbsp;CONTACTER</a>
        </li>
      </ul>
    </div>
  </div>
</div>
