<div class="col-10 m-auto">
  <p class="lead">
    Au petit village est une entreprise spécialisée dans la confection de
    figurines inspirées de la célèbre bande dessinée
    <strong>Astérix et Obélix</strong> et leurs amis.
  </p>
  <p>
    Nous ciblons adressons aux nostalgique des aventures des célèbres Gaulois.
    Nos figurines sont conçues avec soin et passion pour raviver vos souvenirs
    d'enfance et apporter une touche de magie à votre collection.
  </p>
  <p>
    Découvrez notre gamme de figurines et plongez dans l'univers fascinant
    d'Astérix et Obélix. Chaque pièce est une œuvre d'art qui capture l'essence
    des personnages et des histoires qui ont marqué des générations.
  </p>
  <button class="d-inline m-4">
    <a [routerLink]="['/home']"> voir nos articles </a>
  </button>
</div>
