<div class="box_form">
  <div class="row contact_box">
    <div class="col-md-6 bg-info">
      <h1 class="text-cyan my-5">Nous Contacter</h1>
      <div class="alert alert-success">
        <p>Nos Informations</p>
      </div>
    </div>
    <div class="col-md-6 bg-cyan my-5">
      <form>
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" class="form-control" required />

        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          required
        />

        <label for="message">Message:</label>  

        <textarea
          id="message"
          name="message"
          class="form-control"
          required
        ></textarea>

        <button type="submit" class="btn btn-primary mt-3">Send</button>
      </form>
    </div>
  </div>
</div>
